.bodyClass {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
img {
    border-radius: 20px;
    box-shadow: 5px 5px 4px 5px #888888;
    transition: 1s;
}

img:hover {
    box-shadow: 6px 6px 4px 6px #888888;
    transform: scale(0.9, 0.9)
}

button {
    display: block;
    background-color: blueviolet;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: white;
    transition: 1s;
    margin: 20px auto;
    text-align: center;
}

button:hover {
    box-shadow: 1px 1px 0.5px 1px #888888;
}

@media (max-width:700px){
    .bodyClass {
        width: 70%;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        border-radius: 10px;
    }
}