.bodyClass {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

img {
    border-radius: 20px;
    box-shadow: 5px 5px 4px 5px #888888;
    transition: 1s;
}

img:hover {
    box-shadow: 6px 6px 4px 6px #888888;
    transform: scale(0.9, 0.9)
}

.button {
    display: block;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: white;
    transition: 1s;
    margin: 20px auto;
    text-align: center;
}

.button1 {
    background-color: blueviolet;
    transition: 1s;
}

.button2 {
    background-color: royalblue;
    transition: 1s;
}

.button3 {
    background-color: red;
    transition: 1s;
}

.button4 {
    background-color: salmon;
    transition: 1s;
}

.button5 {
    background-color: skyblue;
    transition: 1s;
}

.button6 {
    background-color: tan;
    transition: 1s;
}

.button7 {
    background-color: sienna;
    transition: 1s;
}

.button8 {
    background-color: palevioletred;
    transition: 1s;
}

.button9 {
    background-color: rebeccapurple;
    transition: 1s;
}

.button10 {
    background-color: tomato;
    transition: 1s;
}





button:hover {
    box-shadow: 1px 1px 0.5px 1px #888888;
}

@media (max-width:700px) {
    .bodyClass {
        width: 70%;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        border-radius: 10px;
    }
}